body {
	background: #319db8;
	color: #b6c2c4;
	font-family: sans-serif;
	margin: 0;
}

a, b {
	color: #cedbde;
}

hr {
	border: 0;
	background-color: #222;
	height: 4px;
	margin: 1em;
}

/* inputs */

select, input {
	margin: 2px 4px;
}

input[ type = "text" ], textarea {
	border: 1px solid #ccc;
	padding: 2px;
}

input[ type = "button" ] {
	background: #191919;
	border: 1px #444 solid;
	border-radius: 4px;
	color: #b6c2c4;
	padding: 4px;

	-khtml-border-radius:  4px;
	-moz-border-radius:    4px;
	-webkit-border-radius: 4px;
}
input[ type = "button" ]:hover {
	color: #cedbde;
}
input[ type = "button" ]:active {
	color: #f1d910;
}

/* generic table style */

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* generic header styles */

h1, h2, h3, h4, h1 a, h2 a, h3 a, a strong {
	color: #fff;
	margin: 0;
}
h1 {
	padding-bottom: 16px;
	text-align: center;
}

h2 {
	padding: 16px 0 0;
	margin-bottom: 8px;
}
h3 {
	padding: 8px 0 4px;
}
h2 + h3 {
	padding-top: 0;
}

/* breadcrumbs */

.crumb {
	color: #666;
}

/* lists */

ul {
	margin: 0.5em 0 0;
	padding: 0 2.5em;
}

/* images */

img {
	border: 0; /* for urls */
}
img.icon {
	vertical-align: middle;
	width: 1.2em;
}

/* content background colour */

.header, .main, .curve {
	background: #1a1a1a;
}

/* .main + curves container */

.wrapper {
	margin: 0 auto;
	width: 880px;
}

/* header */

.header {
	font-size: large;
	font-weight: bold;
	height: 2em;
	line-height: 2em;
	min-width: 880px;

	/* XXX: too slow
	-moz-box-shadow: 0 0 2px 2px #1a1a1a;
	*/
}
.header a {
	color: #666;
	display: inline-block;
	padding: 0 10px;
	text-decoration: none;
}
.header a.cur, .header a:hover {
	color: #f1d910;
}

.header a.home {
	float: left;
}

.nav {
	margin: 0 auto;
	width: 800px;
}
.nav div {
	display: inline-block;
}
.nav .calcs {
	float: right;
}

/* protips */

.tip {
	color: #666;
	font-size: small;
	margin-bottom: 8px;
	text-align: center;
}

.tip:before, .tip:after {
	content: "PROTIP";
}
.tip:before {
	float: left;
	margin-left: -8px;
}
.tip:after {
	float: right;
	margin-right: -8px;
}

/* main content container */

.main {
	border-bottom: 32px solid #1a1a1a;
	border-radius: 0 0 32px 32px;
	line-height: 140%;
	margin: 0 auto -32px; /* -ve bottom margin for the footer */
	padding: 0 32px 16px;
	width: 752px;

	-khtml-border-radius:  0 0 32px 32px;
	-moz-border-radius:    0 0 32px 32px;
	-webkit-border-radius: 0 0 32px 32px;

	/* XXX: too slow
	-moz-box-shadow: 0 0 2px 2px #1a1a1a;
	*/
}

/* curves joining header to .main */

.curve {
	height: 32px;
	width:  32px;
}

.curve.L {
	float: left;
}
.curve.R {
	float: right;
}

.curve.L:before, .curve.R:before {
	border-top: 32px solid #319db8;
	content: "";
	display: block;

	/* XXX: too slow
	-moz-border-top-colors: #1c2628 #22464f #2a7284 #2f92ab #319db8;
	*/
}

.curve.L:before {
	border-right: 32px solid #319db8; /* webkit */
	border-radius: 0 32px 0 0;

	/* XXX: too slow
	-moz-border-right-colors: #1c2628 #22464f #2a7284 #2f92ab #319db8;
	*/

	-khtml-border-radius:  0 32px 0 0;
	-moz-border-radius:    0 32px 0 0;
	-webkit-border-radius: 0 32px 0 0;
}
.curve.R:before {
	border-left: 32px solid #319db8; /* webkit */
	border-radius: 32px 0 0;

	/* XXX: too slow
	-moz-border-left-colors: #1c2628 #22464f #2a7284 #2f92ab #319db8;
	*/

	-khtml-border-radius:  32px 0 0;
	-moz-border-radius:    32px 0 0;
	-webkit-border-radius: 32px 0 0;
}

/* footer */

.footer, .footer a {
	color: #333;
}
.footer {
	font-size: small;
	font-weight: bold;
	height: 32px;
	margin: 0 auto 16px;
	text-align: right;
	width: 752px;
}

/* news */

.post .date {
	color: #fff;
	font-weight: bold;
	padding-right: 1em;
	text-align: right;
	vertical-align: top;
	white-space: nowrap;
}

/* grids */

.grid {
	margin: 0 auto;
}
.grid td {
	padding: 0;
}
.grid td a {
	display: block;
	padding: 8px;
	text-decoration: none;
}
.grid img {
	background: #333;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 4px;

	-khtml-border-radius:  4px;
	-moz-border-radius:    4px;
	-webkit-border-radius: 4px;
}
.grid a:hover img, .grid a:active img {
	background: #666;
}

.grid + h1 {
	margin-top: 24px;
}

/* monsters grid */

.grid.monsters {
	text-align: center;
}

.grid.monsters div, .grid.armor div {
	width: 125px;
}

.grid.monsters img {
	display: block;
	margin: 0 auto;
	width: 65px;
}

/* smaller images for equipment grids
 * so they don't get stretched */

.grid.eq img {
	margin-right: 8px;
	width: 33px;
}

/* weapons grid */

.grid.weapons div {
	width: 175px;
}

/* generic data tables */

.data {
	font: 14px/130% monospace;
	white-space: pre;
}

/* :D */
.data .none {
	color: #666 !important;
	text-align: center !important;
}

.data img.icon {
	padding: 1px 0;
	vertical-align: top;
}

.data th {
	border-bottom: 2px solid #333;
	color: #fff;
}
.data td {
	border-top: 1px solid #333;
}
.data td, .data th {
	border-left: 1px solid #333;
	padding: 1px 4px;
	text-align: center;
}
.data td:first-child, .data th:first-child {
	border-left: 0;
	text-align: left;
}

/* equipment tables */

.data.eq tbody tr:nth-child( 2n ) {
	background: #1d1d1d;
}
.data.eq tbody tr:hover {
	background: #222;
	color: #fff;
	font-weight: bold;
}
.data .split {
	border-top: 2px solid #333;
}

.create {
	font-weight: bold;
}

/* weapons tables */

.data.eq.weapons td {
	border-top: 0;
}

/* path tables */

.data.path {
	margin: 0 0 8px;
}

.data.path td:not( :first-child ) {
	text-align: right;
}

/* sharpness bars */

.sharpness {
	background: #191919;
	border: 1px #444 solid;
	display: inline-block;
	height: 0.5em;
	margin: 1px;
	padding: 2px;
	vertical-align: top;
	max-width: 91px;
	min-width: 90px;
}
.sharpness.wide {
	max-width: 181px;
	min-width: 180px;
}
.sharpness div {
	float: left;
	font-size: 0;
	height: inherit;
}
.sharpness .p {
	background: #000;
	border: 2px solid #60e4f8;
	border-left: 0;
	display: inline-block;
	padding: 1px 1px 1px 0;
	margin: -3px -4px -3px 1px;
}
.sharpness .p div:first-child {
	border-left: 1px solid #191919;
	margin-left: -1px;
}

/* bow charge tables */

table.charges td:first-child {
	padding-right: 0.5em;
	vertical-align: top;
}

.charges .load {
	color: #6bf36e;
}

/* various alignments */

.data.eq.weapons .charges, .data.eq.armor td:last-child, .data.eq.decorations td:last-child {
	text-align: left;
}

/* decorations tables */

.data.eq.decorations .name {
	border-left: 0;
	text-align: left;
}

/* items page results div */

#items {
	margin-top: 8px;
}

/* set builder stuff */

.slots {
	padding-left: 2.5em;
}
.slots select {
	display: block;
}

input.small {
	width: 2.5em;
}

#tlnInvalid {
	color: red;
}

#calcButton {
	display: block;
}

.data.skills td, .data.skills th {
	text-align: center;
}

/* set generator output */

.wanted {
	margin: 8px 16px 8px;
}
.wanted #selects {
	margin-bottom: 8px;
}
.wanted #selects select {
	display: block;
}

.set {
	background-color: #1d1d1d;
	border: 1px solid #ccc;
	-moz-border-radius: 8px;
	display: inline-block;
	font-family: monospace;
	padding: 8px;
	margin: 8px;
}



/* game colours */

.pos {
	color: #3581e1;
}
.neg {
	color: #f12222;
}

/* rarities */

.rare1 {
	color: #fff;
}
.rare2 {
	color: #875fff;
}
.rare3 {
	color: #fafc4f;
}
.rare4 {
	color: #ea8bd5;
}
.rare5 {
	color: #5dd030;
}
.rare6 {
	color: #3581e1;
}
.rare7 {
	color: #e83c51;
}

/* sharpness */

.sharp1 {
	background: red;
}
.sharp2 {
	background: orange;
}
.sharp3 {
	background: yellow;
}
.sharp4 {
	background: lime;
}
.sharp5 {
	background: #3581E1;
}
.sharp6 {
	background: white;
}
.sharp7 {
	background: magenta;
}

/* elements */

.elemfire:after {
	color: #ca4433;
	content: " FI";
}
.elemwater:after {
	color: #3581e1;
	content: " WA";
}
.elemthunder:after {
	color: #fafc4f;
	content: " TH";
}
.elemdragon:after {
	color: #875fff;
	content: " DR";
}
.elemice:after {
	color: #1ad9eb;
	content: " IC";
}
.elempoison:after {
	color: #e115f4;
	content: " PO";
}
.elemparalyze:after {
	color: #dc7c2a;
	content: " PA";
}
.elemsleep:after {
	color: #cacaca;
	content: " SL";
}

/* notes */

.noteblue {
	color: #3581e1;
}
.notecyan {
	color: cyan;
}
.notegreen {
	color: lime;
}
.noteorange {
	color: #dc7c2a;
}
.notepurple {
	color: #e115f4;
}
.notered {
	color: red;
}
.notewhite {
	color: white;
}
.noteyellow {
	color: yellow;
}
